.vs/
.idea/
.utmp/
Library/
Temp
obj/
UserSettings/
Assembly-CSharp.csproj
ProjectSettings/EditorSettings.asset
Unity.sln
Assembly-CSharp-Editor.csproj
Unity/Assembly-CSharp-firstpass.csproj

Effekseer.URP.csproj
EffekseerEditor.csproj
Assembly-CSharp-firstpass.csproj
Effekseer.csproj
Effekseer.HDRP.csproj
Effekseer.PostProcessing.csproj
